.vscode/settings.json
stock_news/api_utils.py
replications/src/logs/
replications/src/__pycache__/
*/__pycache__/
replications/src/__pycache__/Experiment.cpython-37.pyc

embedding/
data/bloomberg/
data/economic_calendar/
data/fred/
data/kaggle/
data/ravenpack/
data/stock/
data/stock_news/

writeup/
.texpadtemp/
data/.DS_Store
.DS_Store
*/.DS_Store
.texpadtmp/thesis.aux
.texpadtmp/thesis.log
.texpadtmp/thesis.out
.texpadtmp/thesis.synctex.gz
.texpadtmp/thesis.toc
